.idea/
.vscode/
.aws-sam
samconfig.toml
**/node_modules
data/

env.json
.env

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform/outputs/
terraform/*_testing.tf

**.aws-sam-iacs/

!**target/
!**/src/main/**/target/
!**/src/test/**/target/
